.square {
  cursor: pointer;

  background-color: #6b6871;
  // border: 2px solid #999fe3;
  border: 2px solid #fff;

  float: left;
  font-size: 70px;
  font-weight: bold;
  line-height: 34px;
  text-align: center;

  height: 150px;
  width: 150px;

  margin-right: -1px;
  margin-top: -1px;
  padding: 0;

  transition: background-color 0.3s ease-in-out;
}

.squareHoverX {
  &:hover {
    background-color: #d6a1eb;
  }
}

.squareHoverO {
  &:hover {
    background-color: #689ee4;
  }
}

.squareX {
  background-color: #689ee4;
}

.squareO {
  background-color: #d6a1eb;
}
